
.cent{
    margin: 0 auto;
    text-align: center;
   
}
.home{
  padding-top: 75px;
  z-index: -1;
  background-color: rgb(255, 255, 255);
}

#menu{
  font-family:  'Brush Script MT', cursive;
  margin-top: 20px;
  
  color: rgb(23, 158, 6);
  font-size: 50px;
}
.menu p{
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border-color: rgb(167, 209, 15);
  border-width: 4px;
  border-style: solid;
  transition: transform .2s;
}
.menu img:hover{
 transform: scale(1.3);



}
.menu{

  border-radius: 20px 20px 0 0;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);

  background-color: rgb(255, 255, 255);
}

.carousel-item img{
  width: 100%;
  border-radius: 10px;
}
header{
  position: fixed;
  z-index: 1;
  width: 100%;
 
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
 .carousel-item img{
   width: 70%;
   
 }
 .menu .row{
   padding-top: 1rem;
 }
}
@media only screen and (max-width: 768px) {
  /* For desktop: */
 .menu img{
   margin-top: 30px;
  
 }
}

 .nav-item {
    display: block;
    height: 100%;
    margin-right: 30px;
    font-size: 15px;
    position: relative;
    display: flex;
    align-items: center;
    color: rgb(46, 14, 14);
    text-transform: uppercase;
   
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .nav-item:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    display: block;
    transition: all 0.3s ease;
    bottom: 25%;
  }
  .nav-item:hover::after {
    width: 100%;
    height: 3px;
    background-color: rgb(45, 161, 10);
  }
  .contact{
  
  }
  .contact h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .forms{
    width: 90%;
  }
  .link{
    text-decoration: none;
    color: black;
  }
  .signature h3{
      
      font-size: 40px;
      color: rgb(125, 241, 102);
      font-family:  'Brush Script MT', cursive;
      margin: 20px;
  
  }
  .signature{
    
  }
  .nav-item{
    margin: 0 auto;
  }

  .about{

    width: 100%;
    padding-bottom: 10px;
    background-color: rgba(235, 252, 2, 0.589);
    justify-content: center;
    
  }
  .about i{
  width: 20px;

   
   margin: 5px;
  }

  .ic{

    width: 70%;
    padding: 10px;
  }

  #loader{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    
    background: #fff url("images/load.gif") no-repeat center ;
    background-size: 10%;
  }

  @media only screen and (max-width: 768px) {
    /* For desktop: */
   #loader{
     background-size: 20%;
    
   }
  }
  


